.form-card {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 6px;
}

form input,
form textarea,
form select {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

form button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
}
