/* Signup.css */

.signup-wrapper {
  min-height: 100vh;
  background: url("https://res.cloudinary.com/dswa5docr/image/upload/v1750357764/pexels-tima-miroshnichenko-5327533_l97epc.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
}

.signup-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.signup-subtitle {
  font-size: 14px;
  margin-bottom: 24px;
  color: #ddd;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signup-input {
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}

.signup-input::placeholder {
  color: #ccc;
}

.signup-btn {
  padding: 12px;
  background-color: #10b981; /* Green */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-btn:hover {
  background-color: #059669;
}
